*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    max-width: 1400px;
    display: block;
    margin: auto;
    min-height: 100vh;
    background: #191919;
    font-family: sans-serif;
}

/* Adjust the styles as desired */
/* header section */
.header-text {
    text-align: right;
    padding: 100px;
    background-color: #f5f5f5;
    position: absolute;
    bottom: 20px; /* Adjust the distance from the bottom as needed */
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 100%;
  }
  }
  
  .name {
    font-size: 18px;
  }
  
  .tagline {
    font-size: 24px;
  }
  
  .batesfolio {
    font-size: 32px;
    font-weight: bold;
  }

.navbar{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: right;
    align-items: center;
    z-index: 9;
    background: #1a1a1a;
}

.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown-content a {
    display: block;
  }
  
  .link-group {
    position: relative;
  }
  
  .link-group li {
    display: inline-block;
  }
  
  .link-group li.dropdown {
    position: relative;
  }
  
  .link-group li.dropdown:hover .dropdown-content {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
  }

.link a{
    color: #fff;
    opacity: 0.5;
    text-decoration: none;
    text-transform: capitalize;
    padding: 10px 30px;
    margin: 0 20px;
    line-height: 80px;
    transition: .5s;
    font-size: 20px;
}

.link a:hover, .link.active a{
    opacity: 1;
}


.home-section.active,
.project-section.active,
.about-section.active,
.contact-section.active{
    position: relative;
    opacity: 1;
    z-index: 8;
}

/* home section */
.home-section {
    position: relative;
  }
  
  .image-container {
    position: relative;
    overflow: visible;
  }
  
  .home-img {
    filter: blur(20px);
    transition: filter 0.3s, transform 0.5s;
    max-width: 1000px; /* Adjust the maximum width as desired */
    height: auto;
    transform: translateX(0);
    position: relative;
    z-index: 0;
  }
  
  .blur-container {
    position: relative;
    z-index: 1;
  }
  
  .blur-container:hover .home-img {
    filter: blur(0);
    transform: translateX(-10px);
  }
  
  .focus-effect {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.1));
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .blur-container:hover .home-img {
    filter: blur(0);
  }
  
  .blur-container:hover .focus-effect {
    opacity: 1;
  }

/* Adjust the styles as desired */
.header-text {
    text-align: right;
    padding: 80px;
    background-color: #f5f5f5;
  }
  
  .name {
    font-size: 18px;
  }
  
  .tagline {
    font-size: 24px;
  }
  
  .batesfolio {
    font-size: 32px;
    font-weight: bold;
  }
/* project-section */

.project-section{
    width: 100%;
    min-height: 100vh;
    padding: 150px 100px 100px;
    position: fixed;
    top: 0;
    transition: 1s;
    opacity: 0;
}

.project-heading{
    font-size: 100px;
    width: 100%;
    background: grey;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 50px;
    color: 1a1a1a;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-stroke: 8px transparent;
}

.project-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 100px;
}



.project-card{
    height: 400px;
    position: relative;
}

.project-img{
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
    object-fit: cover;
    transition: .5s;
}

.project-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
    color: #171616;
    transition: 0.5s;
    opacity: 0;
    z-index: 1;
  }
  
  .project-content-man {
    position: absolute;
    top: 80%;
    left: 20%;
    transform: translate(-50%, -50%);
    padding: 40px;
    color: #0b0b0b;
    transition: 0.5s;
    opacity: 0;
    z-index: 1;
  }

.project-info{
    width: 400;
    margin: 10px 0; /*Adjust value to add space around project info text */
    font-size: 16px;
    line-height: 24px;
    /* text-align: center; */
    color: black
}

.project-info.smaller-text {
    font-size: 16px;
}

.project-btn-grp.higher-buttons {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    margin-top: -40px; /* Adjust this value to move the buttons higher */
}

.project-btn-grp{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

.project-btn{
    height: 40px;
    text-transform: capitalize;
    font-size: 18px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
}

.project-btn.live{
    background: none;
    border: 2px solid #fff;
}

.project-card:hover .project-img{
    filter: blur(20px);
}

.project-card:hover .project-content{
    opacity: 1;
}

/* about-section */

.about-section{
    width: 100%;
    min-height: 100vh;
    padding: 150px 100px 0;
    position: fixed;
    top: 0;
    opacity: 0;
    transition: 1s;
}

.about{
    width: 100%;
    display: grid;
    grid-template-columns: 30% 65%;
    grid-gap: 40px;
}

.about-img-container{
    position: relative;
    grid-row: 1 / span 3;
    justify-self: end;
}

.about-info{
    color: #fff;
    opacity: 0.6;
    font-size: 20px;
    line-height: 32px;
    margin-top: 2px;
    margin: right;
    margin-bottom: 0px;
    position: relative;
    vertical-align: middle;
    grid-column: 2;
}

.about-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.download-cv-btn{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    color: #fff;
    border: none;
    font-size: 16px;
    text-transform: capitalize;
    cursor: pointer;
    transition: .5s;
    background: rgba(0, 0, 0, 0.5);
}

.download-cv-btn:hover{
    background: #000;
}

/* skills */

.skill-section {
    margin-bottom: 20px;
  }
  
.section-heading {
font-size: 24px;
margin-bottom: 10px;
}

.skills-container {
display: flex;
flex-wrap: wrap;
justify-content: space-between;
}

.skill-card {
width: calc(50% - 10px);
margin-bottom: 20px;
padding: 10px;
border: 1px solid #ccc;
border-radius: 5px;
background-color: #f9f9f9;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.skill-img {
width: 50px;
height: 50px;
margin-right: 10px;
}

.skill-name {
font-size: 18px;
margin: 10px 0;
}

.skill-info {
font-size: 14px;
color: #666;
}

@media (max-width: 768px) {
.skill-card {
    width: 100%;
}
}

/* timeline */

.timeline{
    display: block;
    width: 60%;
    margin: 150px auto;
}

    .timeline-heading{
        margin-bottom: 150px;
        color: white;
        text-decoration: underline;
    }

    .card{
        width: 45%;
        padding: 30px;
        border-radius: 10px;
        color: #fff;
        display: block;
        margin: -80px 0;
        position: relative;
        background: #f00;
    }

    .card:nth-child(even){
        margin-left: auto;
    }

    .card:nth-child(even):before{
        content: '';
        position: absolute;
        left: -15%;
        top: 50%;
        transform: translateY(-50%);
        width: 20px;
        height: 20px;
        border: 5px solid #191919;
        border-radius: 50%;
    }

    .card:nth-child(even):after{
        content: '';
        position: absolute;
        left: -8.5%;
        top: 50%;
        transform: translateY(-50%);
        width: 7%;
        height: 2px;
        background: #fff;
        z-index: -1;
    }

    .card:nth-child(odd):before{
        content: '';
        position: absolute;
        right: -13%;
        top: 50%;
        transform: translateY(-50%);
        width: 20px;
        height: 20px;
        border: 5px solid #191919;
        border-radius: 50%;
    }

    .card:nth-child(odd):after{
        content: '';
        position: absolute;
        right: -8.5%;
        top: 50%;
        transform: translateY(-50%);
        width: 7%;
        height: 2px;
        background: purple;
        z-index: -1;
    }

    .card:nth-child(2), .card:nth-child(2):before{
        background: #ff4f4f;
    }
    .card:nth-child(3), .card:nth-child(3):before{
        background: #ffb84f;
    }
    .card:nth-child(4), .card:nth-child(4):before{
        background: #3dca5c;
    }
    .card:nth-child(5), .card:nth-child(5):before{
        background: #565252;
    }
    .card:nth-child(6), .card:nth-child(6):before{
        background: #4fa0ff;
    }

    .card:nth-child(even) .card-body:before{
        content: '';
        position: absolute;
        left: -12%;
        top: 0;
        width: 0px;
        height: 100%;
        border: 1px dashed #fff;
        z-index: -1;
    }

    .card-title{
        font-size: 30px;
        font-weight: 300;
        margin-bottom: 20px;
    }

    .contact {
        margin-bottom: 20px;
      }

.email-heading{
    padding-top:20px;
}


.contact-section{
    position: absolute;
    top: 0;
    opacity: 0;
    transition: 1s;
    padding: 100px 150px;
    height: 100vh;
    display: flex;
    /* grid-template-columns: repeat(2, 1fr); */
    grid-gap: 50px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.contact-form input, .contact-form textarea{
    width: 100%;
    height: 40px;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid #fff;
    margin-bottom: 30px;
    border-radius: 5px;
    text-transform: capitalize;
    color: #fff;
    padding: 5px 10px;
    orientation: right;
}

.social-media {
    margin-bottom: 20px;
  }

  .social-icons {
    display: flex;
    justify-content: center;
  }

  .social-icons a {
    display: inline-block;
    margin-right: 10px;
  }

  .social-icons img {
    width: 32px;
    height: 32px;
  }

::placeholder{
    color: #fff;
}

#msg{
    height: 280px;
    resize: none;
    font-family: sans-serif;
}

.form-submit-btn{
    background: #ff4f4f;
    color: #fff;
    text-transform: capitalize;
    padding: 15px 40px;
    display: block;
    margin: auto;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.contact-heading{
    font-size: 100px;
    width: 100%;
    background: grey;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 50px;
    color: 1a1a1a;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-stroke: 8px transparent;
}


.map{
    width: 200%;
    height: 100%;
    padding: 10px;
    border: 2px solid #fff;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    orientation: left;
    display: flex;
    justify-content: center;
    align-items: center
}

.map iframe{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}